.App {
  /* text-align: center; */
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
    
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  

  /* width: 50%;
  border: 1px solid black;  */
  
  
}

.social-change {
  display: flex;
  justify-content: space-between;	
  margin: 1rem

}
#change-button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

